#ufos .ufo-card, .cards div, .ant div{
  float: left;
  padding-right: 10px;
}

#ufos:after, .cards:after, .ant:after {
  content: "";
  clear: both;
  display:table;
}

.action button {
  margin-left: 10px;
}

.ufo-card button {
  width: 300px;
}

img{
  width: 150px;
}

.player {
  border: 1px solid black;
  padding: 5px;
}

#main {
  /*position: relative;*/
}

#info {
  padding-bottom: 100%;
}

.board {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  padding-bottom: 10px;
}

.card {
  margin-bottom: 10px;
}

.board .cards {
  height: 200px;
  overflow-x: scroll;
}

.selected {
  border: 1px dashed black;
  margin-bottom: 8px;
}
