#ufos .ufo-card, .cards div, .ant div{
  float: left;
  padding-right: 10px;
}

#ufos:after, .cards:after, .ant:after {
  content: "";
  clear: both;
  display:table;
}

.action button {
  margin-left: 10px;
}

.ufo-card button {
  width: 320px;
}

.selected {
  border: 1px dashed black;
}

img{
  width: 160px;
}

.player {
  border: 1px solid black;
  padding: 5px;
}
